{% extends 'base.html.twig' %}

{% block body %}

    <h1> ABOUT US </h1>

    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, atque consequatur earum facere impedit,
        incidunt laborum nostrum officiis, perferendis quaerat quasi rem repellat! Dolor excepturi quis sint? Harum, ratione!</div>
    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, atque consequatur earum facere impedit,
        incidunt laborum nostrum officiis, perferendis quaerat quasi rem repellat! Dolor excepturi quis sint? Harum, ratione!</div>

{% endblock %}

{% block title %}
    {{ parent()}}|about

{% endblock %}