{% extends 'base.html.twig' %}

{% block body %}

    <h1> WELCOME</h1>
    <div class = "pagination">
        <p> Previous </p>
        <p> Next </p>
    </div>

{% endblock %}

{% block title %}
    {{ parent()}}|home

{% endblock %}

