html
{
    font-size: 12px;
}
h1
{
    text-align: center;
}

img
{
    height: 5em;
    width: 5em;
}

a{
    margin-right: 1em;
    margin-left: 1em;
}
body
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
li
{
    list-style-type : none;
}


.entete
{
    display: flex;
    justify-content: space-between;
    background-color: lightgreen;
}

.inner-entete
{
    display: flex;
}

.inner-entete p
{
    align-self: center;
}
.pagination
{
    display: flex;
    justify-content: center;
}

.grille {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    /* border: 1px solid #333; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 2em;
    text-decoration: none;
}
.grid-item {
    width: 10em;
    height: 10em;
    background: white;
}

.error
{
    text-decoration-color: #B0413E;
}

.labelinput
{
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    align-self: center;
}

.label
{
    width: 8em;
    height: 2em;
    margin-top: 2em;
}

.input
{
    width: 10em;
    height: 2em;
    margin-top: 2em;
}



.formulaireLine
{
    width: 30%;

}

.formulaire
{
    display: grid;
    justify-content: center;

}

.flash-error
{
    background-color: coral;
}
.flash-success
{
    background-color: darkgreen;
}
#exterior_surface_response
{
    display: none;
}

#filtre_dateParution
{
    display: flex;
}
#filtre_dateParution_date
{
    display: flex;
}
#filtre_dateParution_time
{
    display: flex;
}