{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }}|detail
{% endblock %}

{% block body %}
    <h1> RESIDENCE DETAILS </h1>

    <p>  {{ residence.type }} </p>
      <p> {{ residence.adresse }} </p>
   <p> {{ residence.prix }} </p>

{% endblock %}

