<div>

<a href="{{ path('main_cgu') }}"> CGU </a>
<a href="{{ path('main_aboutUs') }}"> ABOUT US </a>
    <a href="{{ path('residence_create') }}"> CREATE </a>
    <a href="{{ path('residence_list') }}"> LIST </a>

</div>